body{
    margin: 0;
    
}

.fundo{
    background-image: url('https://th.bing.com/th/id/OIP.4TomqPxStZhHnWJrb79LuAHaEo?w=256&h=180&c=7&r=0&o=5&pid=1.7');
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    top: 0;
    
}


.personagens{
    background-color: rgba(0,0,0,0.5);
    color: aqua;
    
}
.personagem{
    width: 400px;
    height: 300px;
    border: 20px solid rgb(12, 12, 12);
    border-radius: 50%;
    transition: 1.0s;
}
.capa{
    width: 400px;
    border: 20px solid  rgb(5, 5, 247);
    height: 300px;
    border-radius: 50%;
    transition: 1.0s;
}